*.py
*.yaml
*.yml
nginx.conf

apps/frontend/public/types/
apps/frontend/scripts/
apps/frontend/src/json-schemas/

packages/api-spec/spec/parloa-api-v1.yml
packages/api-spec/spec/parloa-public-api-v1.yml


*.dockerfile
Dockerfile
